@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100vh;
}

html,body {
  margin: 0;
  background-color: rgb(27, 26, 26);
  background: url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homeBG{
  background: url("/hero.png");
  background-repeat: no-repeat;
  background-size: cover;

}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  cursor: pointer;
}


.footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  right: 0;
  max-height: 101;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.gameIntro{
  margin: 0;
  width: 100vw;
  z-index: 100;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.gameOutro{
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  color:black;
}

.gameIntroBtn:hover{
  cursor: pointer;
}


.loaderDiv{
  margin: 0;
  width: 100vw;
  z-index: 101;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4ca493 ;
  width: 120px;
  height: 120px;
  background-color: black;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}